*
{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
    font-family: 'Gadugi', regular;
    text-decoration: none;
    list-style: none;
}
header {
    /* largeur du header qui prend 100% de la page, taille de 80px avec un display flex */
    width: 100%;
    height: 80px;
    background: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.logo {
    font-size: 28px;
    font-weight: bold;
    color: black;
}
.hamburger {
    /* display none du hamburger pour le cacher tant que le max-width défini plus tard n'a pas été dépassé */
    display: none;
}
.nav-bar ul {
    display: flex;
}
.nav-bar ul li a{
    /* définition des paramètres esthétiques des boutons cliquables et fonctionnels de la navbar */
    display: block;
    color: black;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.3s;
    margin: 0 5px;
}
.nav-bar ul li a:hover {
    /* lorsque le curseur de la souris survole l'élément, alors, le fond et la typo changent de couleur */
    color: white;
    background: black;
}
@media only screen and (max-width: 1320px) {
    /* début du responsive avec modifications de quelques valeurs */
    header {
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1120px) {
    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 900px) {
    /* apparition du menu hamburger lorsque la largeur d'écran est inférieure à 900px */
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }
    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: orange;
        transition: 0.3s;
        overflow: hidden;
    }
    .nav-bar.active {
        height: 450px;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
    }
}

@media only screen and (max-width: 375px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }
    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: orange;
        transition: 0.3s;
        overflow: hidden;
    }
    .nav-bar.active {
        height: 450px;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
    }
    /* réduction de la taille du logo lorsque la taille de l'écran est inférieure à 375px */
    .logo {
        font-size: 20px;
    }
}

.principal {
    /* alignement principal de la page en display flex pour pouvoir aligner les blocs de manière horizontale */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 25px 15px;
    gap: 25px;
}

@media only screen and (max-width: 900px) {
    /* responsive mis en place pour la classe .principal */
    .principal {
        display: flex;
        flex-direction: column;
        margin: 25px 0;
        gap: 100;
    }
}

.left-side {
    /* définition des paramètres pour la box de gauche */
    background: orange;
    height: 2200px;
    width: 300px;
    border-radius: 5px;
    flex-grow: 1;
}

.left-side h2 {
    margin: 25px 5% 10% 5%; 
}

.left-side a img {
    /* on joue sur la taille de l'image et la sharpness de ses bords */
    width: 90%;
    border-radius: 5px;
    margin: 0 5%;
}
.left-side a .titre-article-1 {
    margin: 5% 5% 2% 5%;
    color: black;
}
.left-side a .titre-article-2 {
    margin: 5% 5% 2% 5%;
    color: black;
}
.left-side a .titre-article-3 {
    margin: 5% 5% 2% 5%;
    color: black;
}

.left-side .upper-side .box1 {
    /* définition des paramètres pour les petites box avec une ligne noire au top, un background orange... */
    background: orange;
    line-height: 25px;
    border-top: 1px solid black;
    width: 95%;
    margin: 0 2.5% 0 2.5%;
    padding: 5px;
}

.left-side .upper-side .box1:hover {
    background: white;
    transition: 0.3s ease-in-out;
}

.left-side .upper-side .box2 {
    background: orange;
    line-height: 25px;
    border-top: 1px solid black;
    width: 95%;
    margin: 0 2.5% 0 2.5%;
    padding: 5px;
}

.left-side .upper-side .box2:hover {
    background: white;
    transition: 0.3s ease-in-out;
}

.left-side .upper-side .box3 {
    background: orange;
    line-height: 25px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 95%;
    margin: 0 2.5% 0 2.5%;
    padding: 5px;
}

.left-side .upper-side .box3:hover {
    background: white;
    transition: 0.3s ease-in-out;
}

.left-side a .desc-1 {
    /* text-align justify qui va servir tout simplement à justifier le paragraphe */
    margin: 2% 5% 5% 5%;
    color: black;
    text-align: justify;
}
.left-side a .desc-2 {
    margin: 2% 5% 5% 5%;
    color: black;
    text-align: justify;
}
.left-side a .desc-3 {
    margin: 2% 5% 5% 2%;
    color: black;
    text-align: justify;
}

.left-side .titresecond {
    margin: 50px 5% 10% 5%;
}

.left-side a .titre-second-1 {
    margin: 5% 5% 2% 5%;
    color: black;
}

.left-side a .desc-1bis {
    margin: 2% 5% 5% 5%;
    color: black;
    text-align: justify;
}

.left-side a .titre-second-2 {
    margin: 5% 5% 2% 5%;
    color: black;
}

.left-side a .desc-2bis {
    margin: 2% 5% 5% 5%;
    color: black;
    text-align: justify;
}

.left-side a .titre-second-3 {
    margin: 5% 5% 2% 5%;
    color: black;
}

.left-side a .desc-3bis {
    margin: 2% 5% 5% 5%;
    color: black;
    text-align: justify;
}

.left-side .upper-side .box1bis {
    background: orange;
    line-height: 25px;
    border-top: 1px solid black;
    width: 95%;
    margin: 0 2.5% 0 2.5%;
    padding: 5px;
}

.left-side .upper-side .box1bis:hover {
    background: white;
    transition: 0.3s ease-in-out;
}

.left-side .upper-side .box2bis {
    background: orange;
    line-height: 25px;
    border-top: 1px solid black;
    width: 95%;
    margin: 0 2.5% 0 2.5%;
    padding: 5px;
}

.left-side .upper-side .box2bis:hover {
    background: white;
    transition: 0.3s ease-in-out;
}

.left-side .upper-side .box3bis {
    background: orange;
    line-height: 25px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 95%;
    margin: 0 2.5% 0 2.5%;
    padding: 5px;
}

.left-side .upper-side .box3bis:hover {
    background: white;
    transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 1320px) {
    /* début du responsive pour la box de gauche */
    .principal .left-side {
        height: 2600px;
    }
}

@media only screen and (max-width: 1120px) {
    .principal .left-side {
        height: 2700px;
    }
}

@media only screen and (max-width: 900px) {
    .principal .left-side {
        height: 300px;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .principal .left-side .upper-side h2 {
        padding: 0;
        margin: 2%;
    }

    .principal .left-side .upper-side .boxes {
        display: grid;
        gap: var(--size-3);
        grid-auto-flow: column;
        grid-auto-columns: 30%;

        overflow-x: auto;
        overscroll-behavior-inline: contain;
    }

    .principal .left-side .upper-side .boxes a h3 {
        font-size: 15px;
    }

    .principal .left-side .upper-side .boxes p {
        display: none;
    }

    .principal .left-side .upper-side .boxes img {
        width: 90%;
        height: 65%;
    }

    .left-side .upper-side .box1 {
        border-top: none;
        padding: 0;
    }

    .left-side .upper-side .box2 {
        border-top: none;
        padding: 0;
    }

    .left-side .upper-side .box3 {
        border-top: none;
        border-bottom: none;
        padding: 0;
    }

    .left-side .upper-side .box1bis {
        border-top: none;
        padding: 0;
    }

    .left-side .upper-side .box2bis {
        border-top: none;
        padding: 0;
    }

    .left-side .upper-side .box3bis {
        border-top: none;
        border-bottom: none;
        padding: 0;
    }
}

@media only screen and (max-width: 700px) {
    .principal .left-side {
        height: 250px;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .principal .left-side .upper-side .boxes a h3 {
        /* police d'écriture du h3 qui va être réduite à 12px lorsque la largeur de l'écran sera inférieure à 700px*/
        font-size: 12px;
    }
}

@media only screen and (max-width: 500px) {
    .principal .left-side .upper-side .boxes {
        /* le display grid va permettre d'aligner les box horizontalement, le gap va laisser un espace entre ces boites, et le grid auto flow va faire que chaque petite box est considérée comme une colonne à part entière. */
        display: grid;
        gap: var(--size-3);
        grid-auto-flow: column;
        grid-auto-columns: 45%;
        /* l'overflow x va faire déplacer le scrolling menu seulement sur l'axe x et l'overscroll va faire limiter la possibilité de dépasser l'écran en scrollant trop */
        overflow-x: auto;
        overscroll-behavior-inline: contain;
    }

    .principal .left-side .upper-side .boxes a h3 {
        font-size: 15px;
    }
}

.main-article {
    /* définition des paramètres de la classe .main-article */
    background: #f4f4f4;
    height: 2200px;
    width: 800px;
    border-radius: 5px;
    flex-grow: 1;
}

.main-article h2 {
    margin: 5%;
}

.main-article a img {
    width: 90%;
    border-radius: 10px;
    margin: 0 5%;
}

.main-article .titre-article-pres {
    /* webkit text utilisé pour appliquer un contour à notre police d'écriture */
    margin: 5% 5% 2% 5%;
    color: black;
    font-size: 25px;
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-fill-color: orange;
    font-size: 28px;
}

.main-article .text-desc-pres {
    margin: 2% 5% 5% 5%;
    color: black;
    margin-bottom: 45px;
}

.main-article h2 {
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: orange;
    font-size: 48px;
    text-align: center;
}

.main-article .titre-main-article {
    margin: 5% 5% 2% 5%;
    line-height: 85px;
    border-top: 2px solid black;
    color: black;
    font-size: 25px;
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-fill-color: orange;
    font-size: 28px;
}

.main-article .text-main-desc {
    margin: 2% 5% 5% 5%;
    color: black;
    margin-bottom: 65px;
}

@media only screen and (max-width: 1320px) {
    /* début du responsive pour la classe .main-article */
    .main-article {
        height: 2600px;
    }
}

@media only screen and (max-width: 1120px) {
    .main-article {
        height: 2700px;
    }
}

@media only screen and (max-width: 900px) {
    .main-article {
        width: 100%;
        height: 1800px;
    }
}

@media only screen and (max-width: 500px) {
    .main-article h2 {
        color: black;
        -webkit-text-stroke-width: 1px;
        -webkit-text-fill-color: orange;
        font-size: 36px;
        text-align: center;
    }

    .main-article .titre-article-pres {
        margin: 5% 5% 2% 5%;
        color: black;
        font-size: 25px;
        -webkit-text-stroke-width: 0.75px;
        -webkit-text-fill-color: orange;
        font-size: 24px;
    }

    .main-article .titre-main-article {
        margin: 5% 5% 2% 5%;
        line-height: 85px;
        border-top: 2px solid black;
        color: black;
        font-size: 25px;
        -webkit-text-stroke-width: 0.75px;
        -webkit-text-fill-color: orange;
        font-size: 24px;
    }
}

@media only screen and (max-width: 376px) {
    .main-article h2 {
        color: black;
        -webkit-text-stroke-width: 1px;
        -webkit-text-fill-color: orange;
        font-size: 28px;
        text-align: center;
    }

    .main-article .titre-article-pres {
        margin: 5% 5% 2% 5%;
        color: black;
        font-size: 25px;
        -webkit-text-stroke-width: 0.75px;
        -webkit-text-fill-color: orange;
        font-size: 20px;
    }

    .main-article .titre-main-article {
        margin: 5% 5% 2% 5%;
        line-height: 85px;
        border-top: 2px solid black;
        color: black;
        font-size: 25px;
        -webkit-text-stroke-width: 0.75px;
        -webkit-text-fill-color: orange;
        font-size: 20px;
    }
}

.right-side {
    /* début définition des paramètres pour la box de droite */
    background: orange;
    height: 2200px;
    width: 300px;
    border-radius: 5px;
    flex-grow: 1;
}

.search-box {
    /* paramètres de la barre de recherche */
    width: 90%;
    background-color: #f4f4f4;
    margin: 5%;
    border-radius: 5px;
    margin-bottom: 45px;
}

.row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

input.inputsearchbox {
    flex: 1;
    height: 35px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 16px;
    color: black;
}

button.searchbutton {
    background: transparent;
    border: 0;
    outline: 0;
}

button.searchbutton .fa-solid {
    /* paramètres de l'icone loupe */
    width: 25px;
    color: orange;
    font-size: 18px;
    cursor: pointer;
}

::placeholder {
    color: black;
}

.result-box ul {
    /* paramètres de la boite à suggestions */
    border: 1px solid #a7a7a7;
    padding: 15px 10px;
    border-radius: 0 0 5px 5px;
}

.result-box ul li {
    list-style: none;
    border-radius: 5px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box ul li:hover {
    background: black;
    color: white;
}

.result-box {
    /* overflow-y à contrario de overflow x va faire défiler en scrollant sur l'axe y à la verticale */
    max-height: 300px;
    overflow-y: scroll;
}

.right-side .categories {
    /* début de paramètres pour les menus déroulants en dessous de la barre de recherche */
    margin: 5%;
    background: white;
    width: 90%;
    line-height: 40px;
    padding: 8px 25px;
    border-radius: 5px;
}

.right-side .categories label {
    color: black;
    font-size: 16px;
    font-weight: 750;
    display: block;
    cursor: pointer;
}

.button1 span {
    /* float right utilisé pour coller l'icone fleche bas sur le coté droit */
    float: right;
    line-height: 45px;
}

.button2 {
    margin-top: 25px;
}

.button2 span {
    float: right;
    line-height: 45px;
}

.right-side .categories ul {
    background: white;
    list-style: none;
    top: 75px;
    left: 0;
    width: 100%;
    border-radius: 5px;
    display: none;
}

[id^=btn]:checked + ul {
    /* si la catégorie est cliquée, alors une checkbox est également marquée et va donc entrainer l'affichage des sous catégories qui sont display none par défaut */
    display: block;
}

.right-side .categories ul li {
    line-height: 45px;
    padding: 2px 15px;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.right-side .categories ul li label {
    font-size: 15px;
}

.right-side .categories ul li a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    display: block;
}

.right-side .categories img {
    /* définition des paramètres pour les logos à coté des noms d'équipes */
    width: 13%;
    height: 13%;
    margin-right: 5px;
}

.right-side .categories ul li a:hover,  .right-side .categories ul li label:hover{
    /* quand les sous catégories sont survolées par le curseur, les backgrounds et couleurs des textes changent */
    color: white;
    background-color: orange;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    transition: 0.2s;
}

.right-side .categories ul ul {
    position: static;
}

.right-side .categories ul ul li {
    line-height: 30px;
    padding-left: 15px;
    border-bottom: none;
}

.right-side .categories ul ul li a {
    color: black;
    font-size: 15px;
}

.right-side .categories ul li span {
    font-size: 15px;
    float: right;
    margin-top: 15px;
    padding: 0 10px;
}

.right-side .categories input {
    /* l'ensmeble des sous catégories sont par défaut cachées en attendant un click */
    display: none;
}

@media screen and (max-width: 1320px) {
    /* début du responsive pour la barre de recherche */
    button.searchbutton {
        background: transparent;
        border: 0;
        outline: 0;
    }
    
    button.searchbutton .fa-solid {
        width: 25px;
        color: orange;
        font-size: 16px;
        cursor: pointer;
        margin-right: 15px;
    }

    /* début du repsonsive pour les dropdown menu */
    .right-side .categories {
        margin: 5%;
        background: white;
        width: 90%;
        line-height: 40px;
        padding: 8px 15px;
        border-radius: 5px;
    }

    .right-side .categories label {
        color: black;
        font-size: 16px;
        font-weight: 750;
        display: block;
        cursor: pointer;
    }

    .right-side .categories ul li label {
        font-size: 13px;
    }

    .right-side .categories ul li span {
        font-size: 13px;
        float: right;
        margin-top: 15px;
        padding: 0 10px;
    }

    .right-side {
        height: 2700px;
    }
}

@media only screen and (max-width: 1120px) {
    .right-side .categories label {
        color: black;
        font-size: 14px;
        font-weight: 550;
        display: block;
        cursor: pointer;
    }

    .right-side .categories ul li label {
        font-size: 12px;
    }

    .right-side .categories ul li span {
        font-size: 12px;
        float: right;
        margin-top: 15px;
        padding: 0 5px;
    }

    .right-side .categories img {
        width: 14%;
        height: 13%;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 900px) {
    .right-side {
        /* a partir de moins de 900px, j'ai décidé de cacher l'ensemble de la box de droite pour des raisons de lisibilité */
        display: none;
    }
}


footer
/* début du footer */
{
    background-color: orange;
}

footer form
{
    text-align: center;
}

footer h3
{
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
}

form
{
    margin: 0 auto;
    max-width: 900px;
}

input.formulaire, button.formulairesend
{
    /* définition des paramètres pour les boutons du formulaire */
	border : none;
	width : 55%;
	padding: 15px 10px;
	margin : 3px 0;
	font-size: 0.9em;
	font-family: 'Gadugi', regular;
	border-radius: 8px;
}

button.formulairesend
{
	font-size: 1.0em;
	text-decoration: none;
	list-style: none;
    margin-bottom: 25px;
}

button.formulairesend:hover
{
	background-color: black;
	color: white;
	cursor: pointer;
	transition: 0.4s ease-in-out;
}

footer p
{
    text-align: center;
    color: white;
    background-color: black;
    font-size: 12px;
    padding: 20px;
}

/* les autres fichiers css ne sont pas commentés car ils ressemblent fortement à celui ci */



